
SourceSplitSettings.Designer.cs
SourceSplitSettings.Designer.cs
.vs/LiveSplit.SourceSplit/v15/.suo
.vs/LiveSplit.SourceSplit/v15/Server/sqlite3/db.lock
.vs/LiveSplit.SourceSplit/v15/Server/sqlite3/storage.ide
.vs/LiveSplit.SourceSplit/v15/Server/sqlite3/storage.ide-shm
.vs/LiveSplit.SourceSplit/v15/Server/sqlite3/storage.ide-wal
bin/LiveSplit.Core.dll
bin/LiveSplit.SourceSplit.dll
bin/LiveSplit.SourceSplit.pdb
bin/UpdateManager.dll
LiveSplit.SourceSplit.v12.suo
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/LiveSplit.SourceSplit.csproj.CoreCompileInputs.cache
obj/Debug/LiveSplit.SourceSplit.csproj.FileListAbsolute.txt
obj/Debug/LiveSplit.SourceSplit.csproj.GenerateResource.cache
obj/Debug/LiveSplit.SourceSplit.csprojAssemblyReference.cache
obj/Debug/LiveSplit.SourceSplit.dll
obj/Debug/LiveSplit.SourceSplit.MapTimesForm.resources
obj/Debug/LiveSplit.SourceSplit.pdb
obj/Debug/LiveSplit.SourceSplit.SourceSplitSettings.resources
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/LiveSplit.SourceSplit.csproj.CoreCompileInputs.cache
obj/Release/LiveSplit.SourceSplit.csproj.FileListAbsolute.txt
obj/Release/LiveSplit.SourceSplit.csproj.GenerateResource.cache
obj/Release/LiveSplit.SourceSplit.csprojAssemblyReference.cache
obj/Release/LiveSplit.SourceSplit.dll
obj/Release/LiveSplit.SourceSplit.MapTimesForm.resources
obj/Release/LiveSplit.SourceSplit.pdb
obj/Release/LiveSplit.SourceSplit.SourceSplitSettings.resources
obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SourceSplitSettings.Designer.cs
SourceSplitSettings.resx
SourceSplitSettings.resx
SourceSplitSettings.Designer.cs
SourceSplitSettings.resx
SourceSplitSettings.Designer.cs
